
$colorFondo1:rgb(252, 252, 200);
$colorFondo2: rgb(240, 183, 173);
$colorFondo3:rgb(173, 47, 30);
$colorFondo4:burlywood;
$colorFondo5:rgb(209, 224, 252);
$colorFondo6:rgb(255, 197, 209);
$colorFondo7:rgb(175, 249, 252);
$colorFondo8: rgba(14, 128, 204, 0.849);
$colorFondo9:rgb(189, 183, 107);
$colorFondo10:rgba(235, 66, 66, 0.493);