$colorNavFoo1:rgb(116,59,27);
$colorNavFoo2:rgb(120, 130, 0);
$colorNavFoo3:rgb(0, 130, 39);
$colorLetra1: whitesmoke;
$colorLetra2: blanchedalmond;
$colorLetra3: rgb(255,255,255);
$colorBoton: brown;